*{
    font-family: Arial, sans-serif;
font-size: 16px;
}

bory{
background-color: #06f8f8;
}

main{
    background-color: #d5ecf7;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black (0, 0, 0, 0.473);
}